<div id="home" class="home-bg">
  <div class="center">
    <h1>
      Recipes from Japan
    </h1>

    <h2>
      You can enjoy japanese home cooking at your dinning!
    </h2>

    <h3>Please sign up to post your recipe.</h3>
    <h3>ユーザー登録してレシピを投稿する。</h3>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
