    <div  id = "like_form"  class="d-inline-block  float-right">
      <% if logged_in?%>
          <%if current_user.liking?(@recipe) %>
              <%=render"unlike"%>
            <%else%>
              <%=render"like"%>
          <%end%>
      <% else %>
          <i class="far fa-heart like-btn d-inline-block" ></i>
      <% end%>

    <div class="d-inline-block">
      <% if @recipe.likers.count > 0%>
          <a class="align-middle"><%= @recipe.likers.count %></a>
        <% else %>
          <div class="mr-2"></div>
        <%end%>
      </div>
    </div>
  