<% provide(:title, "Recipes") %>

<div class="recipe-content wrapper">
  <h2 class="page-title"><%= @page_title %></h2>
    <div class="wrapper grid">
        <%= render @recipes %>
    </div>
    <%= will_paginate @recipes %>
</div>
  