
<div class="nested-fields form-row">
  <%= f.hidden_field :_destroy %>
  <div class="form-group col-2 col-md-1">
    <% f.label :no, "No." %>
    <%= f.telephone_field :no, class: 'form-control' , value: "#{@order_number}" %>
    <% @order_number += 1 %>
  </div>
  <div class="form-group col-9 col-md-10 ">
      <% f.label :how_to, "instruction / 作り方" %>
      <%= f.text_field :how_to, class: 'form-control' %>
  </div>
  <div class="form-group col-1 remove">
    <%= link_to "×", "#", class: "remove_fields"%>
  </div>

</div>
