<div class="d-inline-block">
  <%= form_for(current_user.active_likes.find_by(liked_id: recipe.id),
          html: {method: :delete}, remote: true) do |f| %>
    <%= f.button type: "submit" do%>
      <i class="fas fa-heart unlike-btn" ></i>
    <% end %>
  <% end %>
</div>
