// @import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$base-text-color: #777;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  font-family: "Barlow Condensed", "Noto Sans JP", sans-serif;
}

.body {
  position: relative;
  margin-top: 70px;
  margin-bottom: 0px;
}

section {
  overflow: auto;
}

.center {
  h1 {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 20%;
    letter-spacing: 0.2rem;
  }
}

.btn {
  background-color: $base-text-color;
  border-color: $base-text-color;
  color: white;
  &:hover {
    background-color: black;
    border-color: black;
    color: white;
  }
}

input[type="submit"] {
  display: block;
  // margin-top: 20px;
  width: 70%;
  margin: 30px auto;
  // font-size: 1.2vw;
}

.alert {
  text-align: center;
}

.alert-success {
  background-color: $gray-medium-light;
  border-color: transparent;
  color: $base-text-color;
}

/* typography 文字列*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: $base-text-color;
}

h1 {
  letter-spacing: -2px;
  font-size: 2rem;
  color: $base-text-color;
}

h2 {
  font-size: 2rem;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $base-text-color;
}

p {
  font-size: 1.1em;
  line-height: 1.1em;
  color: $base-text-color;
}

a {
  color: $base-text-color;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

legend,
label,
input {
  color: $base-text-color;
  font-size: 1.1rem;
}

/* header  ヘッダー*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: $gray-medium-light;
  opacity: 0.9;
  background-color: #fefefe;
  // padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px $gray-medium-light solid;
  border-bottom: 1px $gray-medium-light solid;

  .nav-item {
    margin: 0 0 0 30px;
    a {
      color: $gray-medium-light;
      text-decoration: none;
      font-size: 15px;
    }

    .dropdown-item {
      color: $base-text-color !important;
      padding: 3px 7px;
      &:hover {
        color: black !important;
      }
    }
  }

  &-nav {
    // width: 100%;
    margin: 0 auto;
  }

  i.fas::before,
  i.far::before {
    margin-right: 3px;
  }

  i.fas i.far {
    color: $base-text-color;
  }
}

.logo {
  display: inline-block;
  // float: left;
  margin-right: 10px;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  // letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
}

/* home  ホーム*/

.home-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: image-url("home.jpg");
  // background-color: #0bd;
  background-blend-mode: luminosity;
  min-height: 100vh;
  color: #fff;
  .home-bg {
    vertical-align: center;
  }
}

/* concept  コンセプト*/

.concept {
  position: relative;
  height: 100px;
  img {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 0 5px $base-text-color;
    line-height: 2rem;

    a {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 1.7em;
    }
  }
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
textarea {
  resize: vertical;
}

input[type="text"],
input[type="tel"] {
  // width: 300px;
  height: 25px !important;
}

.form-control,
.form-group {
  margin-bottom: 5px;
}

// .nested-field {
//   height: 20px;
// }

.login-form,
.sign-up-form,
.user-edit {
  margin: 0 auto;
}

.easy-login {
  margin: 0 auto;
  display: table;
}

input {
  height: auto !important;
  // height: 1rem;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.image {
  display: block;
  margin-top: 15px;
}
#recipe_image {
  font-size: 0.4em;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* like ライク関係 */
.like-btn {
  // width: 21px;
  // height: 20px;
  font-size: 20px;
  color: #808080;
  vertical-align: middle;
}

.unlike-btn {
  // width: 21px;
  // height: 20px;
  font-size: 20px;
  color: #e54747;
  vertical-align: middle;
}

#like_form {
  align-items: baseline;
  i {
    // margin-right: 4px;
    vertical-align: middle;
  }
  p {
    vertical-align: middle;
  }
  a {
    color: $base-text-color;
    .edit {
      font-size: 2rem;
    }
  }
  button {
    vertical-align: middle;
  }
}

/* sidebar */

.recipe_title_show {
  text-align: center;
  font-size: 2rem;
  word-break: break-word;
  margin-bottom: 25px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.title {
  h1 {
    text-align: left;
  }
}

.image input {
  border: none;
}

textarea {
  min-height: 130px;
}

.ingre-title {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.information {
  width: 100%;
}

.ingredients {
  display: table;
  border-bottom: 1px solid #ccc;
  text-align: left;
  width: 100%;
}

.ingre-title {
  text-align: left;
}
.ingre {
  display: table-cell;
  text-align: left;
}

.ingre-field {
  width: 100%;
}

.add_ingre_btn {
  margin-right: 0;
}

.remove {
  color: black;
  text-align: left;
  // font-size: 1.7rem;
  color: #87888e;
}

.amount {
  display: table-cell;
  text-align: right;
}

.instruction {
  margin-top: 30px;
}
.instructions {
  text-align: left;
}

/* recipes(index) レシピインデックス */

.container {
  margin-top: 20px;
  z-index: -10;
}
.user {
  margin-top: 5em;
  padding-top: 0;
}
.content {
  display: block;
  margin-left: 60px;
  img {
    display: block;
    padding: 5px 0;
  }
}
.timestamp {
  // color: $gray-light;
  color: #bbb;
  display: block;
  margin-left: 60px;
  font-size: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* recipe show レシピ詳細*/

.recipe-content {
  .page-title {
    text-align: left;
  }
}

.grid {
  display: grid;
  gap: 18px;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2%;
  ol {
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
  }
}

.recipe {
  box-shadow: 0px 0px 3px;
  border: 1px solid $base-text-color;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 30px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 0px 10px;
    transform: translateY(-1px);
  }

  // max-width: 300px;
  // min-width: 250px;
  .recipe-title {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    // font-weight: bold;
    font-size: 18px;
    height: 2.4rem;
    padding: 0px 0px;
    // word-wrap: normal;
    word-break: break-word;
  }
  .recipe-about {
    padding: 5px 0px;
    margin: 8px 0;
    height: 3rem;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;

    .p {
      text-align: left;
      text-align: top;
    }
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .timestamp {
    margin: 1rem auto;
  }
  p {
    font-size: 11px;
    margin: 0px;
  }
  .recipe-detail {
    padding: 0.7em;
  }
  .delete {
    float: right;
  }
}

.page-title {
  margin: 10px 0px;
}

.recipe-show {
  margin-bottom: 60px;
  img {
    object-fit: cover;
    width: 540px;
    height: 500px;
  }
  .recipe-about {
    word-break: break-word;
  }
  .posted-by {
    font-size: 0.8em;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.category-button {
  border: $base-text-color;
  border-radius: 16px;
  background-color: $base-text-color;
  color: #fff;
  font-size: 10px;
  padding: 4px;
  vertical-align: middle;
}

/* post-recipe レシピ投稿フォーム*/

#post-recipe {
  .wrapper {
    margin-bottom: 120px;
    width: 100%;
  }
}

// .post-ingre {
//   font-size: 17px;
// }

.ctgry-checkbox {
  font-size: 0.7rem;
}

fieldset {
  // border: solid 1px;
  margin: 15px;
  .category-title {
    font: 10px;
  }
}

a.add_fields {
  background-color: $base-text-color;
  font-size: 0.9rem;
  color: white;
  // float: right;
  text-decoration: none;
  border: solid 1px $base-text-color;
  padding: 4px 10px;
  border-radius: 3px;
  // margin-right: 42px;
  &:hover {
    background-color: black;
    border-color: black;
    text-decoration: none;
  }
}

// .add_inst_btn {
//   margin-right: 42px;
// }

.remove {
  height: 25px;
}

a.remove_fields {
  color: $base-text-color;
  height: 100%;
  &:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}

.pagination {
  justify-content: center;
  margin: 10px 0;
  li {
    margin: 0 4px;
    border: $base-text-color 1px solid;
    border-radius: 3px;
    padding: 0 12px;
    &:hover {
      box-shadow: 0 0 3px $base-text-color;
    }
  }
}

.post-recipe-title {
  color: $base-text-color;
}

/* miscellaneous その他*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* resiponsible レスポンシブル対応*/

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    ol {
      max-width: 100%;
    }
  }

  .recipe-title,
  .recipe-about,
  .recipe_title_show {
    max-width: 430px;
    // word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .concept {
    p a {
      font-size: 1em;
    }
  }
}

.footer__copyright {
  color: $base-text-color;
  margin: 0 auto;
  font-size: 0.8rem;
  span {
    font-family: "Times New Roman", "Times";
  }
}
