// @import "bootstrap-sprockets";
// @import "bootstrap";

/* mixins, variables, etc. */

$base-text-color: #777;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  font-family: "Barlow Condensed", "Noto Sans JP", sans-serif;
}

.body {
  position: relative;
  margin-top: 70px;
  margin-bottom: 0px;
}

section {
  overflow: auto;
}

.center {
  h1 {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 20%;
    letter-spacing: 0.2rem;
  }
}

.btn {
  background-color: $base-text-color;
  border-color: $base-text-color;
  color: white;
  &:hover {
    background-color: black;
    border-color: black;
    color: white;
  }
}

input[type="submit"] {
  display: block;
  // margin-top: 20px;
  width: 70%;
  margin: 30px auto;
  // font-size: 1.2vw;
}

.alert {
  text-align: center;
}

.alert-success {
  background-color: $gray-medium-light;
  border-color: transparent;
  color: $base-text-color;
}

.pagination {
  justify-content: center;
  margin: 10px 0;
  li {
    margin: 0 4px;
    border: $base-text-color 1px solid;
    border-radius: 3px;
    padding: 0 12px;
    &:hover {
      box-shadow: 0 0 3px $base-text-color;
    }
  }
}

.footer__copyright {
  color: $base-text-color;
  margin: 0 auto;
  font-size: 0.8rem;
  span {
    font-family: "Times New Roman", "Times";
  }
}

/* typography 文字列*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: $base-text-color;
}

h1 {
  letter-spacing: -2px;
  font-size: 2rem;
  color: $base-text-color;
}

h2 {
  font-size: 2rem;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $base-text-color;
}

p {
  font-size: 1.1em;
  line-height: 1.1em;
  color: $base-text-color;
}

a {
  color: $base-text-color;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

legend,
label,
input {
  color: $base-text-color;
  font-size: 1.1rem;
}

/* header  ヘッダー*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: $gray-medium-light;
  opacity: 0.9;
  background-color: #fefefe;
  // padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px $gray-medium-light solid;
  border-bottom: 1px $gray-medium-light solid;

  .nav-item {
    margin: 0 0 0 30px;
    a {
      color: $gray-medium-light;
      text-decoration: none;
      font-size: 15px;
    }

    .dropdown-item {
      color: $base-text-color !important;
      padding: 3px 7px;
      &:hover {
        color: black !important;
      }
    }
  }

  &-nav {
    // width: 100%;
    margin: 0 auto;
  }

  i.fas::before,
  i.far::before {
    margin-right: 3px;
  }

  i.fas i.far {
    color: $base-text-color;
  }
}

.logo {
  display: inline-block;
  // float: left;
  margin-right: 10px;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  // letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
}

// /* home  ホーム*/

// .home-bg {
//   background-size: cover;
//   background-position: center top;
//   background-repeat: no-repeat;
// }

// #home {
//   background-image: image-url("home.jpg");
//   // background-color: #0bd;
//   background-blend-mode: luminosity;
//   min-height: 100vh;
//   color: #fff;
//   .home-bg {
//     vertical-align: center;
//   }
// }

/* concept  コンセプト*/

.concept {
  position: relative;
  height: 100px;

  &__img {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 0 5px $base-text-color;
    line-height: 2rem;
  }

  &__msg {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.7em;
  }
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
textarea {
  resize: vertical;
  min-height: 130px;
}

input[type="text"],
input[type="tel"] {
  // width: 300px;
  height: 25px !important;
}

.form-control,
.form-group {
  margin-bottom: 5px;
}

.login-form,
.sign-up-form,
.user-edit {
  margin: 0 auto;
}

.easy-login {
  margin: 0 auto;
  display: table;
}

input {
  height: auto !important;
  // height: 1rem;
}

.image {
  display: block;
  margin-top: 15px;
}
#recipe_image {
  font-size: 0.4em;
}
.image input {
  border: none;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.add_ingre_btn {
  margin-right: 0;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* like ライク関係 */

.like-btn {
  // width: 21px;
  // height: 20px;
  font-size: 20px;
  color: #808080;
  vertical-align: middle;
}

.unlike-btn {
  // width: 21px;
  // height: 20px;
  font-size: 20px;
  color: #e54747;
  vertical-align: middle;
}

#like_form {
  align-items: baseline;
  i {
    // margin-right: 4px;
    vertical-align: middle;
  }
  p {
    vertical-align: middle;
  }
  a {
    color: $base-text-color;
    .edit {
      font-size: 2rem;
    }
  }
  button {
    vertical-align: middle;
  }
}

.like_div {
  display: flex;
  justify-content: flex-end;
  height: 26px;
  .like_display {
    // position: relative;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    // .like_form {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
  }

  .likers_count {
    // position: absolute;
    // top: 0;
    // left: 75%;
    font-size: 0.95rem;
    vertical-align: middle;
    width: 1rem;
    text-align: center;
  }
}

.recipe_show_like_div {
  display: flex;
  justify-content: flex-end;
  // position: relative;
  // height: 26px;
  .edit_delete {
    margin-right: 20px;
    p {
      vertical-align: middle;
      margin-right: 20px;
    }
  }
  .like_display {
    .likers_count {
      font-size: 0.9rem;
      vertical-align: middle;
      width: 1rem;
      text-align: center;
      // position: absolute;
      // // top: 0;
      // right: 10%;
    }
  }
}

.supplement {
  height: 26px;
  margin-bottom: 3px;
  .category_title {
    margin-bottom: 0;
  }
}

/* recipe index レシピ目録*/

.recipe-index {
  &__content {
    .grid {
      display: grid;
      gap: 18px;
      // grid-template-columns: repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr);
      margin-top: 2%;
      ol {
        margin-bottom: 5px;
        padding-bottom: 5px;
        width: 100%;
      }
    }
  }
  &__title {
    text-align: left;
    margin: 10px 0px;
  }
}

.recipe {
  box-shadow: 0px 0px 3px;
  border: 1px solid $base-text-color;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 30px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 0px 10px;
    transform: translateY(-1px);
  }

  p {
    font-size: 11px;
    margin: 0px;
  }

  &_item {
    padding: 0.7em;
  }

  &_title {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px !important;
    height: 2.4rem;
    padding: 0px 0px;
    word-break: break-word;
  }
  &_about {
    padding: 5px 0px;
    margin: 8px 0;
    height: 3rem;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  &_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  &_timestamp {
    margin-top: 10px;
  }

  &_fix {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13px;
  }
}

/* recipe show レシピ詳細*/

.amount {
  display: table-cell;
  text-align: right;
}

.information {
  width: 100%;
}

.recipe-show {
  margin-top: 20px;
  margin-bottom: 60px;
  &__title {
    text-align: center;
    font-size: 2rem;
    word-break: break-word;
    margin-bottom: 25px;
  }
  &__img {
    object-fit: cover;
    width: 540px;
    height: 500px;
  }
  &__about {
    word-break: break-word;
  }
  &__posted-by {
    font-size: 0.8em;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.delete_show,
.edit_show {
  display: inline-block;
  margin-bottom: 0;
}

.category-button {
  border: $base-text-color;
  border-radius: 8px;
  background-color: $base-text-color;
  color: #fff;
  font-size: 10px;
  padding: 4px 8px;
  vertical-align: middle;
}

.ingre {
  &__title {
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  &__ol {
    display: table;
    border-bottom: 1px solid #ccc;
    text-align: left;
    width: 100%;
  }
  &__item {
    display: table-cell;
    text-align: left;
  }
  &__amount {
    @extend .amount;
  }
}

.instruction {
  margin-top: 30px;
  &__title {
    font-size: 1.8rem;
  }
}

/* post-recipe レシピ投稿フォーム*/

.recipe_form {
  margin-top: 40px;
  &__field {
    margin-bottom: 120px;
    width: 100%;
  }
  &__ctgry_checkbox {
    font-size: 0.8rem;
  }
}

fieldset {
  margin: 15px;
  .category-title {
    font: 10px;
  }
}

a.add_fields {
  background-color: $base-text-color;
  font-size: 0.9rem;
  color: white;
  // float: right;
  text-decoration: none;
  border: solid 1px $base-text-color;
  padding: 4px 10px;
  border-radius: 3px;
  // margin-right: 42px;
  &:hover {
    background-color: black;
    border-color: black;
    text-decoration: none;
  }
}

a.remove {
  color: $base-text-color;
  height: 25px;
  // height: 100%;
  &:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}

.post-recipe-title {
  color: $base-text-color;
}

/* resiponsible レスポンシブル対応*/

@media (max-width: 1200px) {
  .recipe-index__content {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .recipe-index__content {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 770px) {
  .supplement {
    height: 50px;
  }
  .edit_delete {
    p {
      margin-right: 5px !important;
    }
  }
}

@media (max-width: 480px) {
  .recipe-index__content {
    .grid {
      grid-template-columns: repeat(1, 1fr);
      ol {
        max-width: 100%;
      }
    }
  }

  .concept {
    p a {
      font-size: 1em;
    }
  }
}

/* miscellaneous その他*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  height: 200px;
}
