<div class="concept">
  <%= image_tag('concept.jpg', :class => "concept__img")%>
  <p class="concept__text">
    <a class="concept__msg">Please enjoy Japanese home-made dishes at your dining!</a>
  </p>
</div>
